if SHIELD_HORMESIS_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "hormesis"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_HORMESIS_LEFT || SHIELD_HORMESIS_RIGHT

config ZMK_SPLIT
    default y

endif